form {
    background-color: #fafab8;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
  }

  form input {
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    color: black;
    font-size: 20px;
  }
  form button {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: #f7f766;
    font-size: 18px;
    color: black;
    border-radius: 20px;
  }